<main class="main">

    <mat-card>
        <header>
          <mat-card-title>
            <span class="material-icons">student</span> Update Student
          </mat-card-title>
        </header>




  
<mat-card-content>
<form class="form-inline" (ngSubmit)="onSubmit()">
  <br><br>

  

  <div class="row">
    <div class="col-lg-4">
      <mat-form-field>  
        <label for="studentName">Student Name:</label>
        <br>
        <input type="text" class="form-control" [required]="true" id="studentName"  value={{student.studentName} formControlName="studentName">
      </mat-form-field> 
     </div>

     <div class="col-lg-2">
        <mat-form-field>  
         <label for="studentSurname"> Student Surname:</label>   
          <br>
         <input type="text" class="form-control" [required]="true"  id="studentSurname"   value={{student.studentSurname}} formControlName="studentSurname">
        </mat-form-field>
      </div>
    </div>    
  

         <div class="row">
            <div class="col-lg-4">
              <mat-form-field>  
                <label for="studentGrade">Student Grade:</label>
                <br>
                <input type="text" class="form-control" [required]="true" id="studentGrade" value={{student.studentGrade formControlName="studentGrade">
              </mat-form-field> 
             </div>
             </div>

             <div class="row">
                <div class="col-lg-4">
                  <mat-form-field>  
                    <label for="Parent_GuardianID">Parent Guardian ID:</label>
                    <br>
                    <input type="text" class="form-control" [required]="true" id="Parent_GuardianID" value={{student.Parent_GuardianID formControlName="Parent_GuardianID">
                  </mat-form-field> 
                 </div>
                 </div>





             <div class="addButton">
                <button type="submit" class="btn btn-success" [routerLink]="['/updateStudent', student.id]">Update Student</button>
              </div>

            
        
            </form>
        </mat-card-content>
        </mat-card>
        </main>
    

        