<!-- <main class="main">

    <mat-card>
        <header>
          <mat-card-title>
            <span class="material-icons">school</span> Update School
          </mat-card-title>
        </header>




  
<mat-card-content>
<form class="form-inline" (ngSubmit)="onSubmit()">
  <br><br>

  

  <div class="row">
    <div class="col-lg-4">
      <mat-form-field>  
        <label for="schoolName">School Name:</label>
        <br>
        <input type="text" class="form-control" [required]="true" id="schoolName"  value={{school.schoolName} formControlName="schoolName">
      </mat-form-field> 
     </div>

     <div class="col-lg-2">
        <mat-form-field>  
         <label for="schoolLocation"> school Location:</label>   
          <br>
         <input type="text" class="form-control" [required]="true"  id="schoolLocation"   value={{school.schoolLocation}} formControlName="schoolLocation">
        </mat-form-field>
      </div>
    </div>    
  

         <div class="row">
            <div class="col-lg-4">
              <mat-form-field>  
                <label for="schoolInfoDetails">School Information:</label>
                <br>
                <input type="text" class="form-control" [required]="true" id="schoolInfoDetails" value={{school.schoolInfoDetails formControlName="schoolInfoDetails">
              </mat-form-field> 
             </div>
             </div>

             <div class="addButton">
                <button type="submit" class="btn btn-success" [routerLink]="['/updateSchool', school.id]">Update School</button>
              </div>

            
        
            </form>
        </mat-card-content>
        </mat-card>
        </main> -->
    

        